body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } h1, h2, h3, h4, h5, h6{ font-size:100%; } address, cite, dfn, em, var { font-style:normal; } code, kbd, pre, samp { font-family:couriernew, courier, monospace; } small{ font-size:12px; } ul, ol { list-style:none; } 
a { text-decoration:none; } a:hover { text-decoration:underline; } sup { vertical-align:text-top; } sub{ vertical-align:text-bottom; } legend { color:#000; } fieldset, img { border:0; } button, input, select, textarea { font-size:100%; } table { border-collapse:collapse; border-spacing:0; } 



header{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;
}
.head{
    width: 1200px;
}
.head-wrapper,.company{
    display: flex;
    justify-content: center;
}
.nav{
    width: 232px;
    font-size: 14px;
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 37px;
    display: flex;
    justify-content: center;
}
.nav-two{
    width: 404px;
    padding-top: 43px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 324px;
    height: 42px;
    margin: 105px 0 24px; 
    line-height: 42px;
    text-align: center;
    background: #2d2d2d;
    color: #fff;
}
article{
    display: flex;
    justify-content: center;
}
section{
    width: 1200px;
    padding-bottom: 370px;
}
section>img{
    width: 100%;
    padding-bottom: 91px;
}
.phase{
    padding-left: 10px;
    width: 1180px;
}
p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 35px;
    color: #505050;
}
.title{
    padding-top: 6px;
}
.icon-wrapper{
    width: 375px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.icon{
    width: 263px;
    display: flex;
    justify-content: space-between;
}
.icon li img{
    width: 37px;
    height: 37px;
}
footer{
    width: 100%;
    height: 330px;
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.foot{
    width: 1200px;
}
.foot p{
    line-height: 330px;
    letter-spacing: 1px;
    color: #282828;
}
.copy{
    font-size: 12px;
    color: #282828;
    width: 1200px;
    text-align: right;
}
